<div class="board">
    <table border>
        {% for i, row in grid %}
            <tr>
                {% for j, cell in row %}

                    {% if data is defined %}
                            <td style="{{ i~","~j in colors ? 'background-color:'~renderColor : '' }}"
                                width="50px"
                                height="50px">
                                <center>&nbsp; {{ cell }}&nbsp; </center>
                            </td>
                    {% else %}

                    <td width="50px" height="50px"><center>&nbsp; {{ cell }}&nbsp; </center></td>

                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
